<section>
    <div>
        <div class="testimonialLayout">
            <div class="testimonialHeader">
                <div class="testimonialArrowWithText">
                    <img class="w-[100px] h-[36px]" src="/assets/img/testimonialLine.png" alt="">
                    <p class="text-lg" style="font-weight: 500;">{{'Testimonial-Intro' | translate }}</p>
                </div>
                    <h2 class="font-bold text-[64px] text-end">{{'Testimonial-Title' | translate }}</h2>
            </div>
            <div class="testimonialContent">
                @for(testimonial of testimonials; track $index) {
                    <div [ngStyle]="{'background-image': 'url(' + background[testimonial.bg] + ')'}" 
                            class="testimonialCard"
                            [ngClass]="[
                                        'card-' + testimonial.card,
                                    isTargetCard($index) ? 'special-style' : ''
                                ]"
                            (mouseenter)="onMouseEnter($index)"
                            (mouseleave)="onMouseLeave()">
                            <div class="testimonialCardContent">
                                <div>
                                    <p class="line-clamp-5">{{testimonial.feedback}}</p>
                                </div>
                                <div class="testimonialDetails">
                                    <div class="testimonialName">
                                        <span [ngStyle]="{'font-weight' : 700}">{{testimonial.name}}</span>
                                        <span [ngStyle]="{'font-weight' : 500, 'font-size': '16px'} ">{{testimonial.job}}</span>
                                    </div>
                                    <div class="testimonialSocialLink">
                                        <span class="socialIcon"></span>
                                        <a href="{{testimonial.link}}" target="_blank">Profile</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
