<section>
    <div class="flex items-center justify-between max-w-[1440px] w-full" >
        <app-logo></app-logo>

        <div class="hidden lg:block" style="width: 100%;">
            <ul class="navLinks">
                <li class="aboutmebtn-element">
                    <a    href="#about-me">About Me</a>
                </li>
                <li class="skillsbtn-element" >
                    <a     href="#skills">Skills</a>
                </li>
                <li class="projectsbtn-element">
                    <a   href="#projects">Projects</a>
                </li>
                <li class="contactbtn-element" >
                    <a    href="#footer">Contact</a>
                </li>
            </ul>
        </div>

        <div class="hidden lg:block">
            <div class="language-toggle">
                <button class="languageBtn"  (click)="switchLanguage('en')" [class.active]="selectedLang === 'en'">EN</button>

                <div class="slider">
                    <span class="sliderIn"></span>
                    <span class="sliderOut" [ngStyle]="{ left: selectedLang === 'en' ? '0' : '50%' }"></span>
                </div>
                <button class="languageBtn" (click)="switchLanguage('de')" [class.active]="selectedLang === 'de'">DE</button>
            </div>
        </div>

        <button (click)="openMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>

       <!-- Meniul mobil -->
    <div [ngClass]="{ 'hidden': !isMenuOpen, 'flex': isMenuOpen }">
        <ul>
            <li (click)="closeMenu()"><a href="#about-me">About Me</a></li>
            <li (click)="closeMenu()"><a href="#skills">Skills</a></li>
            <li (click)="closeMenu()"><a href="#projects">Projects</a></li>
            <li (click)="closeMenu()"><a href="#footer">Contact</a></li>
            <li class="language-toggle-mobile">
                <button (click)="switchLanguage('en'); closeMenu()" [class.active]="selectedLang === 'en'">EN</button>
                <button (click)="switchLanguage('de'); closeMenu()" [class.active]="selectedLang === 'de'">DE</button>
            </li>
        </ul>
    </div>

</section>
