<section>
    <div >
        <app-logo></app-logo>
        <div style="width: 100%;">
            <ul class="navLinks">
                <li ><a  class="aboutmebtn-element"  href="#about-me">About Me</a></li>
                <li ><a  class="skillsbtn-element"   href="#skills">Skills</a></li>
                <li ><a  class="projectsbtn-element" href="#projects">Projects</a></li>
                <li ><a  class="contactbtn-element"  href="#footer">Contact</a></li>
            </ul>
        </div>
        <div class="language">
           <p>EN</p>
           <img src="/assets/img/lang.png" alt="">
           <p>DE</p>
        </div>
    </div>
</section>