<section>
    <div>
        <div class="projects">
            <div class="projectsCard">
                <div class="flex flex-col gap-[16px]">
                    <span style="font-size: 18px; font-weight: 500;">{{'Projects-Intro' | translate}}</span>
                    <div class="flex flex-col gap-[4px]">
                        <h2 class="font-bold text-5xl">{{'Projects-Title'| translate}}</h2>
                        <img style="max-width: 195px;" src="/assets/img/lineProjects.png" alt="">
                    </div>
                    <p>{{'Projects-Message' | translate }}</p>
                </div>
            </div>
            @for(project of projects; track $index) {
                <div class="projectCard" (mouseenter)="onMouseEnter($index)"  (mouseleave)="onMouseLeave()">
                    <div class="imgContainer relative">
                        <img  [class.zoomed]="hoverIndex === $index" [class.move-down-img]="$index === 0 && hoverIndex !== 0" 
                        class="imgProjects" src="{{project.img}}" alt="">
                        @if($index === hoverIndex){
                            <div class="overlay desktop">
                                <div style="padding-right: 40px; padding-bottom: 40px;">
                                    <a class="btnKontakt" href="" [routerLink]="['/projects', project.id]">{{'Projects-Btn' | translate}}</a>
                                </div>
                            </div>
                        }
                        @if(project.featured){
                        <img class="absolute bottom-[0px] md:bottom-[60px] w-[118px] md:w-[168px]" src="/assets/img/featured.png" alt="">
                        }
                    </div>
                    <div class="projectInfo">
                        <h3 class="font-bold text-xl">{{project.title}}</h3>
                        <p>{{ project.descriptionKey | translate }}</p>
                        <div class="mobile">
                            <div class="pt-[16px]" >
                                <a class="btnKontakt h-[44px]" href="" [routerLink]="['/projects', project.id]" >Project details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div> 
    </div>  
</section>