<section>
    <div>
        <div class="projects">
            <div class="projectsCard">
                <div class="flex flex-col gap-[16px]">
                    <span style="font-size: 18px; font-weight: 500;">MY CRAFT</span>
                    <div class="flex flex-col gap-[4px]">
                        <h2 class="font-bold text-5xl">Projects</h2>
                        <img style="max-width: 195px;" src="/assets/img/lineProjects.png" alt="">
                    </div>
                    <p> Take a look at my projects — built with a focus on responsive design, user-friendly interfaces, and clean, efficient code.
                        Feel free to explore, test, and share your feedback!</p>
                </div>
            </div>
            @for(project of projects; track $index) {
                <div class="projectCard" (mouseenter)="onMouseEnter($index)"  (mouseleave)="onMouseLeave()">
                    <div class="imgContainer">
                        <img  [class.zoomed]="hoverIndex === $index" [class.move-down-img]="$index === 0 && hoverIndex !== 0" 
                        class="imgProjects" src="{{project.img}}" alt="">
                        @if($index === hoverIndex){
                            <div class="overlay desktop">
                                <div style="padding-right: 40px; padding-bottom: 40px;">
                                    <a class="btnKontakt" href="" [routerLink]="['/projects', project.id]">Project details</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="projectInfo">
                        <h3 class="font-bold text-xl">{{project.title}}</h3>
                        <p>{{project.description}}</p>
                        <div class="mobile">
                            <div class="pt-[16px]" >
                                <a class="btnKontakt h-[44px]" href="" [routerLink]="['/projects', project.id]" >Project details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div> 
    </div>  
</section>