<section>
    <div class="paddingSection">
        <div class="topPositionHero">
            <div class="leftTopPositionHero">
                <div class="containerButton" >
                    <div class="hover-container">
                        <img
                            [ngClass]="isHovered ? 'rotateMoveAnimation' : 'rotateMoveAnimationOut'"
                            src="/assets/img/social/wavingHand.png"
                            alt=""
                        />
                        <a
                            class="btn"
                            [ngClass]="{ 'btn-hover': isHovered, 'btn-show': !isHovered }"
                            (mouseenter)="isHovered = true"
                            (mouseleave)="isHovered = false"
                        >
                            {{ isHovered ? ('INTRO' | translate) : "Hello World" }}
                        </a>
                    </div>
                </div>
                <div style="display: flex;">
                    @for(letter of heroText[0].split(''); let i = $index; track i ) {
                    <h1 (mouseenter)="onHover(letter, i, heroText[0])"
                        (mouseleave)="onLeave()"
                        [ngClass]="{
                            'hover-uppercase': hoveredSource === heroText[0] && hoveredIndex === i && hoveredCase === 'uppercase',
                            'hover-lowercase': hoveredSource === heroText[0] &&  hoveredIndex === i && hoveredCase === 'lowercase'
                            }">{{ letter }}</h1>
                    }
                    </div>
            </div>
            <div class="rightTopPositionHero desktopHero">
                <img class="heroImg" src="/assets/img/heroImg.png" alt="">
                <div class="emoticon">
                    <span class="rightTopPositionHeroText">Octavian</span>
                    <div>
                        <span class="emoticon-show">:)</span>
                        <span class="emoticon-hover">:D</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="bottomPositionHero">
            <div style="display: flex;">
                @for(letter of heroText[1].split(''); let i = $index; track i) {
                    
                <h1 (mouseenter)="onHover(letter, i, heroText[1])"
                    (mouseleave)="onLeave()"
                    [ngClass]="{
                        'hover-uppercase': hoveredSource === heroText[1] && hoveredIndex === i && hoveredCase === 'uppercase',
                        'hover-lowercase':   hoveredSource === heroText[1] && hoveredIndex === i && hoveredCase === 'lowercase'
                        }">{{ letter }}</h1>
                }
            </div>
            <div class="btnContainer">
                <a href="" class="btnKontakt">Get in Touch</a>
            </div>
            <div class="imgContainerMobile">
                <div class="rightTopPositionHero mobileHero">
                    <img class="heroImg" src="/assets/img/heroImg.png" alt="">
                    <div class="emoticon">
                        <span class="rightTopPositionHeroText">Octavian</span>
                        <div>
                            <span class="emoticon-show">:)</span>
                            <span class="emoticon-hover">:D</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-social-icons desktopHero">
        <app-social-icons >  </app-social-icons>
    </div>
</section>