<section>
    <div class="paddingSection">
        <div class="topPositionHero">
            <div class="leftTopPositionHero">
                <div class="hover-container">
                    <a class="btn-show">Hello World</a>
                    <a class="btn-hover">I'M OCTAVIAN BUHA</a>
                </div>
                <h1>Frontend</h1>
            </div>
            <div class="rightTopPositionHero">
                <img src="/assets/img/heroImg.png" alt="">
                <div class="emoticon">
                    <span class="rightTopPositionHeroText">Octavian</span>
                    <div class="emoticon-container">
                        <span class="emoticon-show">:)</span>
                        <span class="emoticon-hover">:D</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="bottomPositionHero">
                <h1>DEVELOPER</h1>
                <a href="" class="btnKontakt">Get in Touch</a>
        </div>
    </div>
    <div class="position-social-icons">
        <app-social-icons >  </app-social-icons>
    </div>
</section>