@use './../../../styles.scss' as *;


section{
    position: relative;
    z-index: 2;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: $ColorWhite;
    background-image: url('/assets/img/herobg.png');
    background-size: cover;
    background-position: bottom;
}

h1{
  font-size: 128px;
  font-weight: 700;
  color: $ColorWhite;
  margin: 0;
}

h2{
  color: $ColorWhite;
}


.paddingSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 864px;
  max-height: 489px;
}
.hero{
    width: 100%;
    max-width: 1440px;

}

.fancy-text span {
  font-size: 92px;
  display: inline-block;
  transition: all 0.3s ease;

  &:hover {
    color: #ff4081;
    transform: scale(1.2);
  }
  
}

.imgHero{
  width: 40px;
  height: 40px;
}

.position-social-icons{
  position: absolute;
  bottom: 110px;
  z-index: -1;
  display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1440px;
      width: 100%;
}

.topPositionHero{
  display: flex;
  gap: 61px;

}

.btnKontakt{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $ColorWhite;
  width: 154px;
  max-height: 40px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 24px;
  border: 1px solid $ColorWhite;
  box-shadow: 2px 4px 0px 0px #F8F9FA;
  border-radius: 100px;
  transition: all 0.3s ease;

  &:hover{
    cursor: pointer;
    background-color: #F87A55;
    box-shadow: none;
    transform: translate(2px, 4px); 
  }
}

.bottomPositionHero{
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.containerButton{
  width: 280px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hover-container{
  width: 100%;
  position: relative;
  display: flex;
  gap: 15px;
}
  .btn-show{
    text-decoration: none;
    color: $ColorWhite;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 24px;
    border: 1px solid $ColorWhite;
    border-radius: 100px;
    cursor: pointer;
        transition: background-color 0.6s ease;
        &:hover{
          background-color: $ColorBlue;
    }
  }
  .btn-hover{
    text-decoration: none;
    color: $ColorWhite;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 24px;

    border: 1px solid $ColorWhite;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.6s ease;
    &:hover{
          background-color: $ColorBlue;
    }
  }

.rotateMoveAnimation {
    width: 32px;
    position: absolute;
    top: -24px;
    left: 50%; 
    transform-origin: center center;
    animation: rotateMove 0.6s ease-in-out forwards;
}

.rotateMoveAnimationOut{
    width: 32px;
    margin-bottom: 16px;
    position: absolute;
    top: -24px;
    left: 50%;
    transform-origin: center center;
    animation: rotateMoveOut 0.6s ease-in-out forwards;
}

@keyframes rotateMove {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: translate(150%, -50%) rotate(360deg); 
        opacity: 1;
    }
}

@keyframes rotateMoveOut {
    0% {
        transform: translate(100%, -50%) rotate(360deg);
        opacity: 1;
    }
        75% {
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0;
    }
}

.leftTopPositionHero{
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.rightTopPositionHero{
  position: relative;
  display: flex;
  justify-content: center;
  rotate: 8deg;
  .emoticon{
    position: absolute;
    bottom: 70px;
    display: flex;
    gap: 10px;
  }
  .rightTopPositionHeroText{
  font-family: 'Kalam', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color:#0E1013;
  }
  .emoticon-show{
  font-family: 'Kalam', sans-serif;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color:#0E1013;
  }
  .emoticon-hover{
    display: none;
  }
  &:hover .emoticon-show{
    display: none;
  }
  &:hover .emoticon-hover{
  font-family: 'Kalam', sans-serif;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color:#0E1013;
  }
  filter: grayscale(100%);
  &:hover{
    filter: grayscale(0%);
    transition: all 0.3s ease;
  }
}

.hover-uppercase {

  text-transform: lowercase;
  color: #F7C518;
  cursor: pointer;
}

.hover-lowercase {
  text-transform: uppercase;
  color: #F7C518;
    cursor: pointer;
}

.heroImg{
  width: 204px;
  height: 244px;
}

.mobileHero{
  display: none;
}
.desktopHero{
  display: flex;
}
@media (max-width: 896px) {
h1{
  font-size: 64px;
  font-weight: 700;
  color: $ColorWhite;
  margin: 0;
}

.rightTopPositionHero{
  position: relative;
  display: flex;
  justify-content: center;
  rotate: 8deg;
  .emoticon{
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 10px;
  }
  .rightTopPositionHeroText{
  font-family: 'Kalam', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color:#0E1013;
  }
  .emoticon-show{
  font-family: 'Kalam', sans-serif;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color:#0E1013;
  }
  .emoticon-hover{
    display: none;
  }
  &:hover .emoticon-show{
    display: none;
  }
  &:hover .emoticon-hover{
  font-family: 'Kalam', sans-serif;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color:#0E1013;
  }
  filter: grayscale(100%);
  &:hover{
    filter: grayscale(0%);
    transition: all 0.3s ease;
  }
}
.paddingSection{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  max-width: 864px;
  max-height: 489px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.bottomPositionHero{
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.btnContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.imgContainerMobile{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileHero{
  display: flex;
}
  .emoticon{
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 10px;
  }
.desktopHero{
  display: none;
}

}


@media (max-width: 425px) {
h1{
  font-size: 48px;
  font-weight: 700;
  color: $ColorWhite;
  margin: 0;
}

}