<section>
    <div class="relative flex flex-col items-center px-[16px] py-[88px] xl:flex-row xl:justify-between xl:px-[120px] xl:py-[144px] max-w-[1440px] w-full">
        <div class="order-2 xl:order-1">
            <div class="paperStrip yellow relative">
                <div [ngStyle]="rotation(-4)" class="textRotation">
                    <img src="/assets/img/icons/location.png" alt="Location icon" />
                    <span >{{'AboutMe-Location' | translate}}</span>
                </div>
            </div>
            <div class="paperStrip blue">
                <img src="/assets/img/icons/road.png" alt="Relocate icon" />
                <span>{{'AboutMe-Relocate' | translate}}</span>
            </div>
            <div class="paperStrip orange relative">
                <div [ngStyle]="rotation(4)"  class="textRotation">
                    <img src="/assets/img/icons/home.png" alt="Remote icon" />
                    <span > {{'AboutMe-Remote' | translate}}</span>
                </div>
            </div>
        </div>
        <div  class="aboutMe gap-2 order-1 xl:order-2">
           <div class="titleContainer">
                <span>{{'AboutMe-Ask' | translate}}</span>
                <div>
                    <h3>{{'AboutMe-Title' | translate}}</h3>
                    <div class="arrowAnimation">
                        <img src="/assets/img/arrow.png" alt="">
                    </div>
                </div>
           </div>
           <div class="flex order-2 md:order-1 flex-col">
            <p>{{ 'AT-I' | translate}}<br>
                <br>{{ 'AT-M' | translate}}<br>
                <br>{{ 'AT-C' | translate}}</p>
           </div>
           <div class="btnContainer order-1 md:order-2 my-[48px]">
                <a href="#footer" class="btnKontakt">{{'ABtn' | translate }}</a>
           </div>
        </div>
    </div>
</section>