@use './../../../styles.scss' as *;

section{
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    background-image: url('/assets/img/skillsbg.png');
    background-size: cover;
    background-position: bottom;
    >div{
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        max-width: 1440px;
        margin: 171px 120px;
    }
}

.topContainer{
    display: flex;
    gap: 48px;

}
.textContainer{
    max-width: 656px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/assets/img/bgSkills.png');
    padding: 39px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    >p{
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }
}

h3{
    color: $ColorWhite;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

h2{
    color: $ColorWhite;
    font-size: 64px;
    margin: 0;
    text-wrap: disable;
}

.skillContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -10;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/assets/img/skillHover.png');
        transform-origin: top right;
        z-index: 1;
        animation: revealMask 3s ease-in-out infinite;
      }
}

@keyframes revealMask {
    0% {
      width: 0;
      transform: rotate(-50deg);
      opacity: 1;
    }
    10% {
        right: 0;
      width: 100%;
      transform: rotate(0deg);
      opacity: 1;
    }
    90% {
        top: 0;
        right: 0;
        width: 100%;
        transform: rotate(0deg);
        opacity: 1;
      }
    100% {
      width: 0;
      transform: rotate(-180deg);
      opacity: 0;
    }
}
.bottomContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 48px;
}

  .imgContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 Spalten, gleichmäßig verteilt
    grid-template-rows: repeat(2, auto);    // 2 Reihen mit automatischer Höhe
    gap: 20px 40px; // Abstand zwischen den Zellen, anpassbar
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        >img{
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(0%);
                transform: scale(0.95);
                transition: all 0.3s ease-in-out;
            }
        }
        >span{
            font-size: 18px;
            font-weight: 400;
            color: $ColorWhite;
        }
    }

}

.bgImg{
    width: 200px;
    height: 200px;
}

.arrowImg{
    width: 40px;
}
.lernContainer{
    display: flex;
    transform: rotate(8deg);
}

.isActiveContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/img/activeBg.png');
    >p{
        margin: 0;
        width: 167px;
        text-align: center;
        color: $ColorWhite;
        font-family: Kalam;
        font-size: 40px;
        font-weight: 400;
    }
}

.isInactiveContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/img/inactiveBg.png');
}
