<section>
    <div>
        <div class="flex flex-col xl:flex-row xl:gap-[48px] xl:items-center">
            <div class="flex flex-col items-end gap-[8px]">
                <h3 class="flex">{{'Skills-Intro' | translate}}</h3>
                <div class="skillContainer">
                    <h2 class="font-bold w-full">{{'Skills-Titile' | translate}}</h2>
                </div>
            </div>
            <div class="textContainer">
                <p>{{'Skills-Message' | translate }}</p>
            </div>
        </div>
        <div class="bottomContainer">
            <div class="imgContainer">
                @for (img of objImages; track $index) {
                    <div>
                        <img src="/assets/img/icons/{{img.src}}.png" alt="">
                        <span>{{img.alt}}</span>
                    </div>
                }
            </div>
            <div class="lernContainer" (click)="toggle()">
                @if (isVisible) {
                    <div class="isActiveContainer">
                        <img class="arrowImg"   src="/assets/img/icons/pullArrow.png" alt="">
                        <p>{{'Skills-Pull' | translate}}</p>
                    </div>
                  } @else {
                    <div class="isInactiveContainer">
                        <p>{{'Skills-Future' | translate}} </p>
                        <div style="display: flex; gap: 16px;">
                            <div class="interesContainer">                        
                                <img src="/assets/img/React.png" alt="">
                                <span>React</span>
                            </div>
                            <div class="interesContainer">                        
                                <img src="/assets/img/VueJs.png" alt="">
                                <span>Vue</span>
                            </div>
                        </div>
                    </div>
                  }
            </div>
        </div>
    </div>
</section>