@use './../../../styles.scss' as *;

section{
    font-family: 'Bricolage Grotesque', sans-serif !important;
    background-image: url('/assets/img/herobg.png');
    background-repeat: no-repeat;
    background-position: center bottom; 
    background-size: 100% 150%;  
    display: flex;
    justify-content: center;
    >div{
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        max-width: 1440px;
        padding: 171px 120px;
    }
}

.textContainer{
    max-width: 656px;
    background-image: url('/assets/img/bgSkills.png');
    background-position: center;
    background-size:  auto 100%;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    >p{

        font-size: 18px;
        font-weight: 400;
    }
}

h3{
    color: $ColorWhite;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

h2{
    color: $ColorWhite;
    font-size: 64px;
    margin: 0;
    text-wrap: disable;
}

.skillContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('/assets/img/skillHover.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
        animation: revealDiagonal 2s ease-in-out infinite;
    }
}
@keyframes revealDiagonal {
    0% {
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0); 
    }
    50% {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); 
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0); 
    }
}




.bottomContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 54px;
}

  .imgContainer{
    display: grid;
    // grid-template-columns: repeat(5, minmax(auto,98px)); // 5 Spalten, gleichmäßig verteilt
    grid-template-columns: repeat(5, minmax(80px, 98px)); 
    grid-template-rows: repeat(2, auto);    // 2 Reihen mit automatischer Höhe
    gap: 24px 40px; // Abstand zwischen den Zellen, anpassbar
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        >img{
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(0%);
                transform: scale(0.95);
                transition: all 0.3s ease-in-out;
            }
        }
        >span{
            font-size: 18px;
            font-weight: 400;
            color: $ColorWhite;
            text-align: center;
        }
    }

}

.bgImg{
    width: 200px;
    height: 200px;
}

.arrowImg{
    width: 40px;
}
.lernContainer{
    display: flex;
    transform: rotate(8deg);
    cursor: pointer;
}

.isActiveContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/img/activeBg.png');
    >p{
        margin: 0;
        width: 167px;
        text-align: center;
        color: $ColorWhite;
        font-family: Kalam;
        font-size: 40px;
        font-weight: 400;
    }
}

.isInactiveContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-image: url('/assets/img/inactiveBg.png');
    >p{
        text-align: center;
        margin: 0;
        color: $ColorWhite;
        font-size: 18px;
        font-weight: 700;
    }
}

.interesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
            font-size: 16px;
        font-weight: 400;
    color: $ColorWhite;
}
@media (max-width: 1024px){
    .bottomContainer{
    flex-direction: column;
    gap: 48px;
}
}
@media (max-width: 887px) {

section{
    display: flex;
    justify-content: center;
    background-color: $ColorWhite;
    background-image: url('/assets/img/skillsbg.png');
    background-size: cover;
    background-position: bottom;
    >div{
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        max-width: 1440px;
        padding: 171px 16px;
    }
}


.textContainer{
    max-width: 656px;
    height: 100%;
    background-image: url('/assets/img/bgSkills.png');
    background-size:  auto 100%;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    >p{
        padding: 40px 0px;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
}


  .imgContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 5 Spalten, gleichmäßig verteilt
    grid-template-rows: repeat(2, auto);    // 2 Reihen mit automatischer Höhe
    gap: 16px 16px; // Abstand zwischen den Zellen, anpassbar
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        >img{
            filter: grayscale(0%);
            &:hover{
                filter: grayscale(0%);
                transform: scale(0.95);
                transition: all 0.3s ease-in-out;
            }
        }
        >span{
            font-size: 18px;
            font-weight: 400;
            color: $ColorWhite;
            text-align: center;
        }
    }

}

}
