section{
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    background-image: url('./../../../assets/img/skillsbg.png');
    background-size: cover;
    background-position: bottom;
    >div{
        width: 100%;
        max-width: 1440px;
    }
}
