<section>
    <div class=" relative">
        <img class="block md:hidden absolute top-0 right-0 w-[120px]" src="/assets/img/stickerFd.png" alt="">
        <div class="topContainer">
            <div class="leftContainer ">
                <div class="flex flex-col gap-[16px]">
                    <h3 class="font-medium text-lg sm:text-[64px]">{{ 'Footer-Intro' | translate }}</h3>
                    <h2 class="text-[48px] md:text-[64px] font-bold">{{ 'Footer-Title' | translate }}</h2>
                </div>
                <div style="width: 100%; display: flex; flex-direction: column;">
                    <p>{{"Footer-Message" | translate }}</p>
                </div>
                <div class="arrowAnimation desktop">
                    <img src="/assets/img/lineContact.png" alt="">
                </div>
            </div>
            <div class="rightContainer relative">
                <img class="hidden md:block absolute top-0 right-0 w-[168px]" src="/assets/img/stickerFd.png" alt="">
                <app-contact-form></app-contact-form>
            </div>
        </div>
        <div class="bottomContainer">
            <div class="logoContainer">
                <app-logo></app-logo>
                <span class="">© Octavian Buha 2025</span>
            </div>
            <div class="footerSocialLinks">
                <span class="privacyLink">
                    <a class="skillsbtn-element"  routerLink="/legal-notice">Legal Notice</a>
                </span>
                @for(social of socialLinks ; track $index){
                <span class="socialLinks"   (mouseenter)="hoveredIndex = $index" (mouseleave)="hoveredIndex = null">
                    @if(hoveredIndex === $index) {
                        <img class="rotateMoveAnimation" src="/assets/img/social/{{social.imgSrc}}" alt="">
                    } @else if (hoveredIndex === null) {
                        <img class="rotateMoveAnimationOut" *ngIf="false" src="/assets/img/social/{{social.imgSrc}}" alt="">
                    }
                    <a href="{{social.link}}">{{social.label}}</a>
                </span>
                }
            </div>
        </div>
    </div>
</section>