<div>
    <div class="bottomContainer">
        <div class="logoContainer">
            <app-logo class="flex w-[40px]"></app-logo>
            <span class="">© Octavian Buha 2025</span>
        </div>
        <div class="footerSocialLinks">
            <span class="privacyLink">
                <a class="skillsbtn-element"  routerLink="/legal-notice">{{'LegalNotice.Impressum' | translate}}</a>
            </span>
            @for(social of socialLinks ; track $index){
            <span class="socialLinks"   (mouseenter)="hoveredIndex = $index" (mouseleave)="hoveredIndex = null">
                @if(hoveredIndex === $index) {
                    <img class="rotateMoveAnimation" src="/assets/img/social/{{social.imgSrc}}" alt="">
                } @else if (hoveredIndex === null) {
                    <img class="rotateMoveAnimationOut" *ngIf="false" src="/assets/img/social/{{social.imgSrc}}" alt="">
                }
                <a href="{{social.link}}">{{social.label}}</a>
            </span>
            }
        </div>
    </div>
</div>