    <div [ngClass]="customClass">
        <div class="imgBtn">
            <a href="https://github.com/Andrei-Octavian-Buha"><img src="/assets/img/social/gitImg.png" alt=""></a>
        </div>
        <div class="imgBtn">
            <a href="https://www.linkedin.com/in/andrei-octavian-buha-27a0362ba/"><img src="/assets/img/social/linkImg.png" alt=""></a>
        </div>
        <div class="imgBtn">
            <a href="mailto:andrei.buha@patrazel.dev"><img src="/assets/img/social/mailImg.png" alt=""></a>
        </div>
    </div>
