
<app-nav-bar></app-nav-bar>
<section>
    <div class="mb-[56px]">
        <div class="layoutContainer">
            <div class="hidden lg:flex w-full pl-[72px] items-start">
                    <a routerLink="/" class="flex gap-[8px] text-lg font-bold text-[#0E1013] hover:text-[#F87A55]"> <img src="./assets/img/projektBack.png" alt=""> {{'ProjectsListBtnGoBack' | translate }}</a>
            </div>
            <div class="flex flex-col gap-[40px] lg:flex-row">
                <div class="flex flex-col gap-[32px] max-w-[488px] ">
                    <div class="flex flex-col w-full">
                        <h1 class="text-[48px] font-bold lg:text-[64px]">{{project.title}}</h1>
                        <div class="arrowAnimation">
                            <img src="/assets/img/arrowProject.png" alt="">
                        </div>
                    </div>
                    <div class="flex flex-col gap-[48px]">
                        <div class="flex flex-col gap-[16px]">
                            <h3 class="font-bold text-2xl">{{'projects.description' | translate}}</h3>
                            <p class="font-normal text-lg">{{ project.descriptionKey | translate }}</p>
                        </div>
                        <div class="flex flex-col gap-[16px]">
                            <h3 class="font-bold text-2xl">{{'projects.implementation' | translate}}</h3>
                            <p>{{ project.implementationKey | translate }}</p>
                        </div>
                        <div class="flex items-center gap-[8px]">
                            <h3 class="font-bold text-lg">{{'projects.duration' | translate}}:</h3>
                            <p class="">{{project.duration}} {{'projects.weks' | translate}}</p>
                        </div>
                    </div>
                    <div class="skillsContainer">
                        @for (item of project.skills; track $index) {
                            <img src="/assets/img/icons/{{item.src}}.png" alt="">
                            <span>{{item.alt}}</span>
                        }
                    </div>
                </div>
                <div class="projectReviewContainer flex flex-col items-center gap-[48px]">
                    <div class="flex relative items-center ">
                        <img class="max-w-[288px] sm:max-w-[560px]" src="{{project.imgBg}}" alt="">
                        @if(project.logo && !project.feauterd){
                            <img class="hidden  xl:flex absolute -right-[48px] top-1/2 -translate-y-1/2 w-[120px]" src="/assets/img/stickerFd.png" alt="">
                        }
                        @if(project.featured && !project.logo){
                             <img class="hidden xl:flex absolute -right-[48px] top-1/2 -translate-y-1/2 w-[120px]" src="/assets/img/featured.png" alt="">
                        }
                    </div>
                    <span >
                        <a class="w-[122px] text-[#F8F9FA]  sm:text-[#0E1013] lg:text-[#F8F9FA] md:w-[154px] border border-white 
                        shadow-[2px_4px_0px_0px_#F8F9FA] 
                        sm:border-black
                        sm:shadow-[2px_4px_0px_0px_#0E1013] 
                        lg:border-white 
                        lg:shadow-[2px_4px_0px_0px_#F8F9FA] btnKontakt" 
                        href="{{project.gitLink}}">GitHub</a>
                        <a class=" w-[122px] text-[#F8F9FA]  sm:text-[#0E1013] lg:text-[#F8F9FA] md:w-[154px] border border-white 
                        shadow-[2px_4px_0px_0px_#F8F9FA] 
                        sm:border-black
                        sm:shadow-[2px_4px_0px_0px_#0E1013]
                        lg:border-white 
                        lg:shadow-[2px_4px_0px_0px_#F8F9FA] btnKontakt"
                          href="">Live Test</a>
                    </span>
                </div>
            </div>
            <div class="flex  w-full items-center justify-between  lg:justify-end lg:px-[72px]">
                <a routerLink="/" class="flex  lg:hidden gap-[8px] text-lg font-bold text-[#F8F9FA] sm:text-[#0E1013] hover:text-[#F87A55]"> <img class="w-[24px] h-[24px]" src="./assets/img/projektBack.png" alt=""> {{'ProjectsListBtnGoBack' | translate }}</a>
                <a [routerLink]="['/projects', nextProjectId]"  class="flex gap-[8px] text-[#F8F9FA] text-lg font-bold sm:text-[#0E1013] lg:text-[#F8F9FA] hover:text-yellow-400" >{{'ProjectsListBtnNextProject' | translate }}<img class="w-[24px] h-[24px]"  src="./assets/img/nextArrow.png" alt=""></a>
            </div>
        </div>
    </div>
</section>