
<header>
<app-nav-bar></app-nav-bar>
</header>
<section>
    <div class="mb-[56px]">
        <div class="layoutContainer">
            <div class="flex w-full pl-[72px] items-start">
                    <a routerLink="/" class="flex gap-[8px] text-lg font-bold text-[#0E1013] hover:text-[#F87A55]"> <img src="./assets/img/projektBack.png" alt=""> Go Back</a>
            </div>
            <div class="flex flex-col gap-[16px]">
                <h1>Impressum</h1>

            <h2>Angaben gemäß § 5 TMG</h2>
            <p>
                <strong>Andrei-Octavian Buha</strong><br>
                Goetheweg 6<br>
                74575 Schrozberg<br>
                Deutschland
            </p>

            <h2>Kontakt</h2>
            <p>
                Telefon: +49 162 7361529<br>
                E-Mail: <a href="mailto:buha2595@gmail.com">buha2595&&#64;gmail.com</a>
            </p>

            <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
            <p>
                Andrei-Octavian Buha<br>
                Goetheweg 6<br>
                74575 Schrozberg<br>
                Deutschland
            </p>

            <h2>Haftungsausschluss</h2>
            <p>
                Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
                Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
            </p>

            <h2>Urheberrecht</h2>
            <p>
                Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
                Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
                bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
            </p>
            </div>
        </div>
    </div>
</section>