@use './../../../styles.scss' as *;
section{  
    box-sizing: border-box;
  background: linear-gradient(to bottom, #c7c7c7, white);
    display: flex; 
    justify-content: center;
    min-height: 100vh;
    >div{
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: column;
                padding: 0px 120px;
    }
}

h1{
    font-weight: 600;
    font-size: 24px;
    color: #0E1013;
    margin-bottom: 16px;
}

h2{
    font-weight: 600;
    font-size: 18px;
    color: #0E1013;
    margin-bottom: 16px;
}
p{
  white-space: normal;
}

.contentContainer{
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    gap: 152px;
}



@media only screen and (max-width: 1024px){
    section{  
    box-sizing: border-box;
  background: linear-gradient(to bottom, black, white);
    display: flex; 
    justify-content: center;
    min-height: 100vh;
    >div{
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }
}
}

@media only screen and (max-width: 764px){
  pre{
      white-space: normal;
  }
}

